{% extends 'laundry/base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Welcome to IMSA Laundry</h1>
      <p>We aim to make the laundry process on weekends more reliable. Sign up on a queue today to reserve your spot to get laundry.
      </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a></p>
  </div>
  <div>
  	{% for hall in halls %}
  		<p>{{ hall }}</p>
  		<p> {{ hall.availabilities }}
  		<p> {{ hall.time_start }} </p>
  	{% endfor %}
	
	<h3>Queue</h3>
	{% for entry in queue %}
		<p> {{ entry.machine }} </p>
		<p> {{ entry }} </p>
		<p> {{ entry.user }} </p>
		<p> {{ entry.created_date }} {{ entry.start_time }} </p>
	{% endfor %}
	
	<h3>Add an entry:</h3>
	{{ form }}
	<button type="submit" class="save btn btn-default">Save</button>
  </div>
{% endblock %}
