{% extends 'laundry/base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Welcome to IMSA Laundry</h1>
      <p>We aim to make the laundry process on weekends more reliable. Sign up on a queue today to reserve your spot to get laundry.
      </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a></p>
  </div>
  <div>
  	{% for hall in halls %}
  		<p>{{ hall }}</p>
  		<p> {{ hall.availabilities }}
  		<p> {{ hall.time_start }} </p>
  	{% endfor %}
  </div>
{% endblock %}
